@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  /* Shared-style */

  .dark-1{
    color: #131313;
  }
  .dark-2{
    color: #424242;
  }
  .dark-3{
    color: #727272;
  }
.primary-bg{
    background-color: rgba(255, 144, 14, 0.1);
}
  .display-flex{
    display: flex;
  }

.btn-primary{
    background-color: rgba(255, 144, 14, 1);
    color: white;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
    border-radius: 8px;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

  /* nav-bar related style  */

.navbar{
justify-content: space-between;
align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-link{
text-decoration: none;
font-weight: 500;
}
.nav-item{
    list-style: none;
    margin-right: 2.5rem;
}

.navbar, .banner{
    max-width: 1440px;
    margin:0 auto ;
}

/* banner style  */

.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-description{
    font-size: 1rem;
}
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-image{
    max-width: 100%;
    margin-bottom: 45px;
}


@media screen and (max-width:576px) {
    
.navbar, .nav-links{
    flex-direction: column;
    align-items: start;
    margin: 10px;
}

}


/* teams-styles */

.teams{
    align-items: center;
    margin-top: 85px;
    margin-bottom: 85px;
}
.team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features{
    margin-left: 83px;
    max-width: 537px;
    max-height: 304px;
}
.features-title{
    font-size: 2.8rem;
    font-weight: 900;
}
#Quick-list{
    font-weight: 500;
}
#Features{
color: #FF900E;
}

@media screen and (max-width:576px){
    .teams{
        flex-direction: column;
    }
    .team-image-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
        margin-left: 20px;
    }
}

/* feature-section-related-styles */

.frature-container{
    max-width: 586px;
    
}
.feature-section-title{
    border-left: 5px solid #FF900E;
    padding: 20px;
    font-weight: bold;
    font-size: 2.8rem;
}

.feature-title {
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
}

.feature-h4{
    font-weight: 600;
    font-size: 1.25rem;
}
.feature-card{
    align-items: center;
    gap: 140px;
}
.feature-image img{
width: 100%;
}

/* experience-badge */
#experience-badge{
    background-color: rgba(255, 144, 14, 1);
    color: white;
    border: none;
    border-radius: 8px;
    width: 342px;
    height: 200px;
    font-size: 1.56rem;
    align-items: center;
    margin-top: -100px;
    margin-left: -100px;
}
.experience-year{
font-weight: 700;
font-size: 4rem;
}

@media screen and (max-width:576px) {
    .feature-card{
        flex-direction: column;
    }
    #experience-badge{
        margin-left:10px;
        margin-top: 20px;

    }
}

/* some fact related styles */
.fact-title{
    font-weight: 700 ;
    font-size: 2.8rem;
    margin-top: 100px ;
}
.fact-description{
    max-width: 542px;
font-size: 1rem;
margin-top: 24px;
margin-bottom: 100px;
}

.fact-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.fact{
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    width: 241.83px;
    height: 241.83px;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* padding: 35px 45px 60px 45px; */

}

.fact-number{
    font-weight: 600;
    font-size: 2.8rem;
    margin: 0%;
}
.fact-name{
font-weight: 600;
font-size: 1.25rem;
margin: 5% 0;
}

@media screen and (max-width:576px) {

    .fact-container{
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
        margin: 0 auto;
    }
}


/* sponsor related style */

.our-sponsor{
    margin-top: 100px;
}

.sopnser-info{
    text-align: center;
    margin: 24px auto;
    max-width: 540px;
}

.sopnser-info h3{
    font-size: 2.8rem;
    font-weight: bold;
}

.sponsor-companis{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    max-width: 1440px;
    margin: 40px auto;
}
.sponsor-companis img{
    filter: grayscale(100%);
}

footer{
    max-width: 1440px;
    height: 70px;
    border-radius: 8px;
    background-color: #FFF4E7;
    text-align: center;
    margin: 120px auto;
}
footer p{
    align-items: center;
    padding-top: 25px;
    /* padding-bottom: 48px;  */
}

@media screen and (max-width:576px) {
    .sponsor-companis{
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        justify-items: center;
    }
    .fact{
        flex-direction: column;
    }
    footer p{
        padding-top: 15px;
    }

}